# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de configuración local
*.env
*.DS_Store
*.idea/
*.vscode/

# Archivos de salida
*.log
*.out
*.aux
*.pdf
*.csv
*.xlsx

# Compilados C/C++
*.so
*.o
*.dll
*.exe

# Otros
.eggs/
*.egg-info/
dist/
build/

# Carpeta src/yahoo_dinance/data
src/yahoo_finance/data/*.*

# Excepciones
!src/yahoo_finance/tickers.csv
!src/Pandas/datos.csv
!src/Pandas/curva_soberana.csv
